@media (max-width: 1600px) {}































@media (max-width: 1440px) {}































@media (max-width: 1366px) {}































@media (max-width: 1280px) {}































@media (max-width: 1024px) {
    h1 {
        line-height: clamp(32px, 16vh, 48px) !important;
        font-size: clamp(24px, 7vw, 41px) !important;
    }

    h2 {
        line-height: clamp(32px, 18vh, 45px) !important;
        font-size: clamp(24px, 4vw, 36px) !important;
    }

    section.what-we-offer .content li {
        font-size: 15px;
    }

    section.what-we-offer .content h4 {
        font-size: 26px;
    }

    .history-report h3 .fntt {
        font-size: 56px;
    }

    .valuess .inner h5 {
        font-size: 20px;

    }

    footer .headd img:last-child {
        width: 180px;
    }

    footer .headd img:first-child {
        width: 180px;
    }

    footer .bodyy ul li a {
        font-size: 12px;
    }

    footer .footerr p {
        font-size: 13px;

    }

    section.pricing .content a {
        font-size: 16px;

    }

    .repeated a {
        font-size: 16px;
    }

    .lang-signup a {
        font-size: 15px;
    }

    .lang-signup {
        gap: 10px;
        margin: 1rem 0 0;
        flex-direction: column;
        align-items: self-start;
    }

    section.people .inner .content p {
        padding: 0;
    }
}































@media (max-width: 800px) {}































@media (max-width: 769px) {

    footer .headd img:first-child {
        width: 100px;
    }

    .banner-img img.abs {
        position: absolute;
        top: 10%;
        right: 25%;
        width: 160px;
    }

    section.banner.vehicle-history .bg-color {
        height: 25rem !important;
        padding-top: 4rem !important;
    }

    section.banner .bg-color {
        height: 49rem !important;
        overflow: hidden;
    }
    
    .report-top .text p {
        text-align: left !IMPORTANT;
    }
    section.about {
        padding-top: 7rem;
    }

    section.pricing.pricingg {
        padding-top: 7rem;
    }

    section.nmvtis p {
        text-align: left !important;
    }

    section.sample-record.twoo p {
        text-align: left !IMPORTANT;
    }

    section.sample-report {
        padding-top: 4rem;
    }

    .navbar-collapse.collapse.show {
        backdrop-filter: blur(5px);
        background-color: #ffffffcf;
    }

    .navbar-collapse{
        padding: 15px 20px;
        border-radius: 14px;
        transition: unset  !important;
    }


    footer .headd img:last-child {
        width: 140px;
    }

    section.people .container {
        position: absolute;
        left: 0;
        width: 100%;
        right: 0;
        top: 280px;
    }
    section.people {
        background-image: url(../images/people-two.png);
        height: 313px;
        position: relative;
        margin: 30px 0 240px;
    }

    section.people .inner .content p {
        font-size: 24px !important;
        line-height: 38px !important;
    }

    section.people .inner .content img {
        display: none;
    }

    .detail-history td {
        padding-left: 0;
        text-align: left;
        width: 100% !important;
    }

    .column {
        text-align: left;
    }

    .lot-number,
    .price,
    .status {
        text-align: left;
    }



    .report-top .text h5 {
        font-size: 30px;
    }

    section.sample-report .row {
        gap: 60px 0;
    }


    section.sample-report .col-md-8 {
        width: 100%;
        order: 2;
    }

    section.sample-report .col-md-4 {
        width: 100%;
        order: 1;
    }

    .section-switchers {
        padding: 0 0 0;
        width: 100%;
    }

    .lang-signup {
        margin: 0rem 0 0;
    }

    header .navbar-nav {
        align-items: self-start;
        gap: 6px 36px;
        margin: 1rem 0 0;
    }

    footer .bodyy ul {

        gap: 0 3.5rem;

    }

    section.pricingg .sample-reporttt .content.repeated {

        padding-left: 0;
    }

    section.pricing.pricingg .row {
        gap: 40px 0;
    }

    .history-reporttt ul {
        gap: 6px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }



    section.pricing.pricingg .col-md-5 {
        width: 100%;
    }

    section.pricing.pricingg .col-md-7 {
        width: 100%;
    }

    section.thousand-dollars {

        background-position: right;
    }


        section.thousand-dollars .col-md-6 {
            width: 100%;
        }

        #vinInput input::placeholder {
            font-size: 13px;
        }


        .valuess .inner img {
            width: 70px;
        }

        .valuess .inner p {
            font-size: 15px !important;
            line-height: 22px !important;
            text-align: left !important;
        }

        .history-report .col-md-6 {
            width: 100%;
        }

        section.about .content h2 {
            text-align: center;

        }

        section.about .content h2::after {
            margin: auto;

        }


        .history-report p {
            text-align: left !important;
        }

        section#change .col-md-5 {
            width: 100%;
        }

        section#change .col-md-7 {
            width: 100%;
        }

        .repeated p {
            text-align: left !important;
        }

        section.vehicle-record .col-md-6.col-sm-12.col-lg-6.col-xl-6 {
            display: none;
        }

        section.vehicle-record .col-md-6 {
            width: 100%;
        }

        section.what-we-offer .col-md-4 {
            width: 100%;
        }


        .banner .row {
            gap: 40px 0;
        }

        .banner-content-top h6,
        h1,
        p {
            text-align: center !important;
        }

        section.banner .row .col-md-6:nth-child(1) {
            order: 2;
        }

        header .navbar-nav {
            align-items: self-start;
            gap: 14px 36px;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        h1 {
            line-height: clamp(32px, 16vh, 40px) !important;
            font-size: clamp(24px, 7vw, 32px) !important;
        }

        h2 {
            line-height: clamp(32px, 18vh, 33px) !important;
            font-size: clamp(24px, 4vw, 26px) !important;
        }


        h3 {
            font-size: clamp(24px, 4vw, 26px) !important;
            line-height: clamp(32px, 14vh, 30px) !important;
        }

        p {
            font-size: 16px !important;
            line-height: 26px !important;
        }

        .banner-content-top h6 {
            font-size: 14px;
        }

        .banner-content-top p {
            font-size: 16px;
        }

        section.banner .col-md-6 {
            width: 100%;
        }

        .banner-img img {
            width: 65%;
        }

        .banner-img {
            text-align: center;
        }

        .bg-color {
            height: 420px !important;
            padding-top: 7rem;
        }

        section.banner.vehicle-history {
            padding-bottom: 1.5rem;
        }

        .trusted .col-md-4 {
            width: 100%;
        }

        .trusted .col-md-3 {
            width: 100%;
        }

        .trusted {
            margin: 3rem 0 0;
        }

        .trusted .row {
            gap: 20px 0;
        }

        section.banner .container-fluid {
            padding: 0 8rem;
        }

        section.what-we-offer .row {
            gap: 30px 0;
        }

        section.vehicle-record .card {
            border: unset;
        }

        section.vehicle-record .album {
            display: none;
        }

        section.pricing .row {
            gap: 30px 0;
        }

        section.dedicated-customers .content .row {
            gap: 30px 0;
        }

        .history-report {
            height: 100%;
            padding: 40px;
        }

        .history-report span {
            font-size: 28px;
        }

        .history-report h3 .fntt {
            font-size: 48px;
        }

        section.find-car .inner h4 {
            font-size: 16px;
        }

        footer .bodyy ul {
            gap: 0 36px;
        }

        .valuess .inner h5 {
            font-size: 16px;
        }

        .valuess .inner {
            gap: 14px 0;
        }

        .valuess .inner p {
            font-size: 15px;
            line-height: 22px;
        }

        section.thousand-dollars {
            height: unset;
        }

        .history-reporttt ul {
            display: flex;
            flex-direction: column;
            gap: 6px 0;
        }

        .history-reporttt ul li {
            font-size: 14px;
        }

        section.pricingg .sample-reporttt .content.repeated {
            padding: 20px;
        }

        .report-top .text h5 {
            font-size: 30px;
        }

        .report-body .inner {
            height: unset;
            padding: 30px 0;
        }

        .report-body .inner h6 {
            margin: 0 0 10px;
        }

        div#damage-history .all-owners.damage-location img {
            width: 100%;
        }

        .report-table tbody tr td {
            width: 100% !important;
            text-align: left !important;
            padding-left: 20px;
        }

        .row-data a {
            text-align: left;
        }

        .what-we-offer-title h2 {
            padding: 0 !important;
        }



        section.vh-premium {
            padding: 3rem 0 0;
        }

        section.sample-record.twoo ul {
             grid-template-columns: repeat(1, 1fr);
            margin: 0 0 2rem;
        }

        section.login .col-md-8 .inner {
            padding: 0;
        }

        section.login .col-md-8 {
            width: 100%;
        }

        .col-md-4.logos {
            text-align: center;
        }
    }

































    @media (max-width: 480px) {

        .banner-img img.abs {
            position: absolute;
            top: 11%;
            right: 9%;
            width: 160px;
        }

        section.vh-premium {
            padding: 1rem 0 0;
        }

        section.banner.vehicle-history .bg-color {
            height: 21rem !important;
            padding-top: 3rem !important;!Im;!I;!;!I;!;
        }

        section.banner .bg-color {
            height: 43rem !important;
            overflow: hidden;
            padding-top: 4rem !important;
        }

        footer .headd img:last-child {
            width: 130px;
        }
        
   section.vh-premium .inner ul li span {
        width: 18px;
        height: 18px;
    }


        section.sample-record.twoo ul {
            grid-template-columns: repeat(2, 1fr);
        }



        .history-reporttt ul {
            gap: 6px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
        }

        .vehicle-detail .content .row {
            gap: 20px 0;
        }

        div#ownership-history .content .row {
            gap: 40px 0;
        }

        section.pricing .content.twoo .row {
            gap: 0;
        }

        .vehicle-detail .content .inner p {

            margin: 0;
        }

        .vehicle-detail .content .inner {
            height: 90px;
        }

        .vehicle-detail .content .inner h6 {
            margin: 0;
        }

        section.pricing .content {
            background-color: #fff;
        }

        .input-switcher {
            margin: 2rem 0 2.7rem;
        }

        section.what-we-offer .content li span {
            width: 18px;
            height: 18px;
        }

        section.what-we-offer .content li span svg {
            font-size: 10px;
            color: #fff;
        }

        .banner-content-bottom ul li img {
            width: 399px;
        }

       

        section.what-we-offer .content img {
            width: 50px;
        }

        .trusted {
            margin: 4rem 0 0;
        }

        .banner-img {
            text-align: center;
            padding-top: 0;
        }

        .history-report {
            position: relative;
            overflow: visible;
            height: 310px;
            background-position: right;
            top: 280px;
        }


        .history-report .row {
            position: absolute;
            width: 100%;
            margin: auto;
            left: 0;
            top: -320px;
            background-color: #f7ecffc2;
            backdrop-filter: blur(7px);
        }

        section.dedicated-customers {
            padding: 2rem 0 17rem;
        }

        .section-switchers li svg {
            font-size: 20px;
        }

        .headd div {
            flex-direction: column;
            gap: 6px 0;
        }

        .headd div a {
            font-size: 12px;
        }

     

        section.pricing .content ul {
            margin: 8px 0 0;
        }



        section.sample-record.twoo {
            padding-bottom: 2rem;
        }

        section.cta img {
            width: 140px;
        }

        section.cta p {
            font-size: 16px !important;
            line-height: 26px !important;
        }

        section.vh-premium .row .col-md-6:nth-child(3) {
            order: 4;
        }

        section.vehicle-history h1 {
            margin: 0 0 1rem;
        }

        section.banner.vehicle-history {
            overflow: visible;
            padding-bottom: 2rem;
        }

        .bg-color {
            height: 285px !IMPORTANT;
            padding-top: 6rem !important;
        }

        section.sample-report .col-md-4 {
            width: 100%;
            order: 2;
        }

        section.sample-report .col-md-8 {
            width: 100%;
            order: 1;
        }

        section.vehicle-history p {
            margin: 0 0 1rem;
        }

        .what-we-offer-title h6 {
            text-align: left;
        }

        .what-we-offer-title h2 {
            text-align: left;
            width: 100%;
        }

        section.thousand-dollars {
            background-image: unset;
            background-color: #fff;
        }

        section.vehicle-record {
            padding: 3rem 0 0;
        }

       

        .what-we-offer-title {
            text-align: center;
            margin: 0 0 2rem;
        }

        section.sample-record .row {
            gap: 40px 0;
        }

        h1 {
            line-height: clamp(32px, 16vh, 32px) !important;
            font-size: clamp(20px, 6vw, 30px) !important;
        }

        h2 {
            line-height: clamp(29px, 18vh, 24px) !important;
            font-size: clamp(20px, 3vw, 26px) !important;
        }

        h6 {
            font-size: 13px !important;
            line-height: unset !important;
        }

        section.what-we-offer .content h4 {
            font-size: 22px;
        }

        p {
            font-size: 14px !important;
            line-height: 22px !important;
        }

        h5 {
            font-size: 18px !important;
        }

        footer .footerr {
            flex-direction: column;
        }

        footer .footerr p {
            text-align: center;
            font-size: 12px !important;
            letter-spacing: unset !important;
            line-height: unset !important;
        }

        .banner-img img {
            width: 100%;
        }

        .input-container select {
            width: 30%;
        }

        #vinInput input,
        #plateInput input {
            width: 140px;
        }

        section.banner .container-fluid {
            padding: 0 10px;
        }

        .repeated {
            padding-left: 0;
        }

        footer .bodyy ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        footer .headd {
            gap: 30px 0;
            flex-direction: column;
            align-items: start;
        }

        .valuess .row {
            gap: 30px 0;
        }

        .universal {
            text-align: center;
        }

        .vehicle-sample-report .title h4 {
            font-size: 18px;
        }

        .title {
            text-align: center;
        }

        .report-top {
            flex-direction: column;
        }

        div#damage-history .row {
            gap: 50px 0;
        }

        .section-switchers {
            padding: 0 0 0;
            width: 100%;
            margin: 0 0 5rem;
        }

        .row.order {
            flex-direction: column-reverse;
            gap: 0 0 !important;
        }

        section.sample-report {
            padding-top: 4rem;
        }
        .report-top .text p {
            text-align: center !important;
        }

        .report-top .text h6 {
            text-align: center;
        }

        .universal p {
            text-align: center;
        }

        .banner-content-bottom {
            gap: 10px 0;
            flex-direction: column;
        }

        .trusted .row .col {
            text-align: center;
        }

        section.what-we-offer {
            padding: 3rem 0 0;
        }


        .repeated {
            align-items: flex-start !important;
        }

        .repeated h2 {
            text-align: left;
            width: 68%;
        }

        .repeated p {
            text-align: left;
        }

        section.sample-record {
            padding: 3rem 0 3rem;
        }

        section.pricing {
            padding: 3rem 0 2rem;
        }

        section.pricing .row {
            gap: 40px 0;
        }

        section.find-car .title h2 {
            text-align: center;
        }

        section.find-car .inner {
            height: 65px;
            padding: 0 10px;
        }

        section.find-car .inner {
            height: 65px;
            padding: 0 10px;
        }

        section.find-car .inner h4 {
            font-size: 13px;
        }

        section.find-car .inner img {
            width: 40px;
            height: 40px;
            object-fit: contain;
        }

        section.find-car .col-md-4{
            width: 50%;
        }

        section.find-car {
            background-color: #F4F6FF;
            padding: 4rem 0 4rem;
        }

        .valuess .inner {
            gap: 14px 0;
            align-items: center;
        }

        section.thousand-dollars .inner img {
            width: 100%;
        }


        section.sample-record.twoo .content.repeated {
            align-items: start;
        }

        section.vh-premium .row .col-md-6:nth-child(3) {
            text-align: center !important;
        }



        section.login .img img {
            transition: all 0.5s;
            width: 90px;
        }

        section.login .inner .content button {
            font-size: 15px;
        }

        section.login .col-md-8 {
            width: 100%;
        }

        section.login .col-md-8 .inner {
            padding: 0;
        }

        .payment-option {
            flex-wrap: wrap;
            padding: 24px;
            height: 140px;
            justify-content: center;
        }

        .checkout label {
            display: contents;
            font-size: 14px;
        }

        .card-logos {
            margin-left: 0;
        }

        .payment-option img {
            height: 100px;
            width: 100%;
            display: flex;
        }

        section.checkout {
            padding: 4rem 0;
        }

        div#check-vehicle-records ul li {
            font-size: 14px;
        }

        section.pricing .content h3 {
            margin-top: 1rem;
        }

        div#vinInput input::placeholder {
            font-size: 12px;
        }

        div#vinInput button {
            width: max-content;
            font-size: 12px;
            padding-left: 10px;
            padding-right: 10px;
        }

        footer .bodyy ul li:nth-child(1) {
            order: 1;
        }

        footer .bodyy ul li:nth-child(2) {
            order: 5;
        }

        footer .bodyy ul li:nth-child(3) {
            order: 6;
        }

        footer .bodyy ul li:nth-child(4) {
            order: 5;
        }

        footer .bodyy ul li:nth-child(5) {
            order: 4;
        }

        section.people .inner .content p {
            font-size: 20px !important;
            line-height: 32px !important;
        }

    }































    @media (max-width: 414px) {}































    @media (max-width: 375px) {

        section.people .inner .content p {
            font-size: 16px !important;
            line-height: 28px !important;
        }
        
        section.sample-record.twoo ul {
    gap: 12px 0;
}

footer .headd img:last-child {
    width: 130px;
}

        .input-container select {
            width: 24%;
        }

        .input-container select {
            width: 24%;
            font-size: 16px !important;
        }

        .footerr img {
            width: 100%;
        }

        #vinInput input,
        #plateInput input {
            width: 95px;
        }

        .banner-content-bottom ul li {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            color: #666666;
        }

        .history-report {
            height: 270px;
        }

        #vinInput button,
        #plateInput button {
            padding: 14px 0;
            font-size: 14px;
        }

        section.pricing .content.twoo h5 {
            display: flex;
            justify-content: space-between;
            color: #fff;
            flex-direction: column;
            align-items: self-start;
            gap: 10px 0;
        }

        section.pricing .content.twoo h5 span {
            display: inline-flex;
        }

        .switcher button {
            font-size: 13px;
        }

        .report-top .text p {
            text-align: center !important;
        }

        .report-top .text h6 {
            text-align: center !important;
        }

        .report-top .text h5 {
            line-height: 30px;
            text-align: center;
        }
        section.find-car .col-md-4 {
            width: 100%;
        }

        .history-report .row {
            top: 250px;
        }

        footer .headd {
            gap: 30px 0;
            flex-direction: column;
            align-items: center;
        }

        .headd div {
            flex-direction: column;
            gap: 16px 0px;
        }

        .history-report .row {
            top: -300px !important;
        }

        .history-report {
            top: 250px;
        }
    }































    @media (max-width: 360px) {

       
        section.sample-record.twoo ul li {
    font-size: 14px;
}

.banner-content-bottom ul li {
    font-size: 12px;
}

.logos .row {
    grid-template-columns: 1fr 1fr;
}
    }